.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

.inputs {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #93fe83;
  padding-bottom: 10px;
}

.inputs input {
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 10px;
  padding-left: 10px;
}

.inputs button {
  border: none;
  width: 150px;
  height: 50px;
  background-color: #13a90b;
  color: white;
  border-radius: 10px;
  font-size: 15px;
}

button:hover {
  cursor: pointer;
  background-color: #0e7c08;
}

.friendContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.friend {
  width: 400px;
  height: 60px;
  background-color: #13a90b;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
}

.friendlist h3 {
  margin-left: 15px;
}

.friendlist {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.friendContainer button {
  width: 80px;
  height: 60px;
  border: 2px solid black;
  background-color: #13a90b;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

#border {
  border-left: none;
}